@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ================ CSS VRIBLES ================*/

:root {
    --white-color: #fff;
    --dark-color: #222;
    --body-bg-color: #fff;
    --section-bg-color: #202834;
    --navigation-item-hover-color: #3b5378;

    --text-shadow: 0 5px 25px rgba(0,0,0,0.1);
    --box-shadow: 0 5px 25px rgb(0 0 0 / 20%);

    --scroll-bar-color: #fff;
    --scroll-thumb-color: #282f4e;
    --scroll-thumb-hover-color: #454f6b;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: var(--navigation-item-hover-color);
    overflow-x: hidden !important;
    margin: 0px !important;
    padding: 0px !important;
}
/* ================ HEADER ================*/
header{
    z-index: 999;
    position: fixed;
    width: 100%;
    height: calc(5rem + 1rem);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: 0.5s ease;
    transition-property: height, background;
}

header.sticky{
    height: calc(2.5rem + 1rem);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header .nav-bar{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
    transition: 0.3s ease;
}
header .nav-bar a {
    color: #fff;
    text-decoration: none;
    border-radius: 2px solid #fff;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
    transition-property: background, color;
    
}
header .nav-bar a{
    color: var(--white-color);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: var(--text-shadow);
    transition: 0.3s ease;
    transition-property: background, color;
}
header .nav-bar a:hover{
    color: skyblue;

}
header .nav-bar .read-btn{
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: 0px 5px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #fff;
    color: red;
    font-size: 16px;
    cursor: pointer;
    transform: translateX(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.2s;
    transition-property: transform, opacity;
}
header .nav-bar .read-btn i{
    font-size: 1em;
    transition: 0.3s ease;
}
header .nav-bar .read-btn:hover i{
    transform: translateX(10px);
}
.nav-close-btn, .nav-menu-btn{
    display: none;
}
.nav-bar .logo{
    color: var(--white-color);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: var(--text-shadow);
}

.navigation .nav-items a{
    color: var(--white-color);
    font-size: 1rem;
    text-decoration: none;
    text-shadow: var(--text-shadow);
}
.navigation .nav-items a i{
    display: none;
}
.navigation .nav-items a:not(:last-child){
    margin-right: 45px;
}
.navigation .nav-items a.active{
    color: rgb(40, 184, 241);
}
/* ================  END OF HEADER ================*/
/* .nav{
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 25px;
    background-color: #ffffff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.10);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.nav .link a{
    margin-right: 25px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
.nav .logo{
    height: 50px;
    object-fit: contain;
    min-width: 60px;
    display: flex;
}
.nav .link .mainlink{
    color: #e0501b;
}
.nav .link a:hover{
    color: #007bff;
    
}
.nav .link .button{
    padding: 8.5px 34px;
    margin-left: 65px;
    display: inline-block;
    padding: 10.5px;
    font-size: 15px;
    color: #000;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    text-transform: capitalize;
    border: 2px solid #e4e6ea;
    font-family: 'Playfair Display', serif;
}

.nav .link .button:hover{
    color: #007bff;
}
.nav .link .button:active{
    color: green;
} */
.container{
    width: 100%;
    height: 90vh;
    padding: 0 15%;
}
.container h1{
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
    color: #fff;
}
.container h1::after{
    content: '';
    background: #303ef7;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}
.row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 150px ;
}
.service{
    text-align: center;
    padding: 10px 10px;
    border-radius: 10px 15px;
    background-color: palegoldenrod;
    font-size: 1.3rem;
    cursor: pointer;
    transition: transform 0.5s, background 0.5s;
}
.service a{
   text-decoration: none;
}
.service h2{
    font-weight: bolder;
    font-size: 1.7rem;
    margin-bottom: 8px;
    text-transform: uppercase;
}
.service:hover{
    background: #fff;
    color: #000;
    transform: scale(1.05);
}

/* ============== MEDIA QUERIES =================== */


@media only screen and (max-width: 1320px){
    header{
        padding: 0 50px;
    }
    header .nav-bar{
        width: 80%;
    }
    .nav-bar a span{
        font-size: 30px;
        
    }
    .text-content h2 p a{
        padding: 0 50px;
        
    }
}

@media screen and (max-width: 1100px) {
    header {
        padding: 0 30px;
    }
    .container h1{
        font-size: 30px;
        top: 30px;

    }
    .about {
        
        padding: 25px 25px;
        
    }
}
@media screen and (max-width: 900px) {
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background: #fff;
        margin: 6px 0;
    }
    .nav-items{
        display: none;
    }
}