*{
    display: grids;
    background-color:#41f1b6;
    user-select: none;
    overflow-x: hidden;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align: center;

}
h1{
    color: red;
    justify-content: center;
    align-items: center;
    text-align: center;
}
form{
    width: 300px;
    border: 5px solid white;
    padding: 50px;
    margin: 20px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}
label{
    text-transform: capitalize;
    color: blue;
}
input{
    color: black;

}